{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart Disease Risk Check</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'style.css'%} " rel="stylesheet">
</head>
<body>
    <div class="container-fluid  p-4 text-white" style="background-color: #A0153E;" >
        <h1 class="text-center ">Heart Disease Risk Check</h1>
    </div>
    <div class="container p-4 my-5 ">
        
        <div class="row">
            <div class="col-8 mx-auto">
                <div class="card">
                    <div class="card-header text-center">
                        <h2 class="h2 mb-3">Patient Information</h2>
                        <h4>Masukkan Data Klinis</h4>
                    </div>
                    <div class="card-body">
                        <form  action="{% url 'klasifikasi.result' %}" method="post" >
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="age" class="form-label">Age</label>
                                <input type="number" name="age" class="form-control" id="age" placeholder="Enter your age" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Gender</label>
                                <div class="d-flex">
                                    <input type="radio" id="male" name="gender" class="btn-check" value="male" required>
                                    <label class="btn btn-outline-secondary" for="male">Male</label>
                                    
                                    <input type="radio" id="female" name="gender" class="btn-check" value="female" required>
                                    <label class="btn btn-outline-secondary" for="female">Female</label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="cholesterol" class="form-label">Cholesterol Levels</label>
                                <input type="number" class="form-control" name="cholesterol" id="cholesterol" placeholder="Enter your cholesterol levels" required>
                            </div>
                            <div class="row g-2 mb-3">
                                <div class="col">
                                    <label for="systolic" class="form-label">Blood Pressure Systolic</label>
                                    <input type="number" name="systolic" class="form-control" id="systolic" placeholder="Systolic" required>
                                </div>
                                <div class="col">
                                    <label for="diastolic" class="form-label">Blood Pressure Diastolic</label>
                                    <input type="number" name="diastolic" class="form-control" id="diastolic" placeholder="Diastolic" required>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="heartRate" class="form-label">Heart Rate</label>
                                <input type="number" name="heartRate" class="form-control" id="heartRate" placeholder="Enter your heart rate" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Diabetes</label>
                                <div class="d-flex">
                                    <input type="radio" id="diabetesYes" name="diabetes" class="btn-check" value="yes" required>
                                    <label class="btn btn-outline-secondary" for="diabetesYes">Yes</label>
                                    
                                    <input type="radio" id="diabetesNo" name="diabetes" class="btn-check" value="no" required>
                                    <label class="btn btn-outline-secondary" for="diabetesNo">No</label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Family History of Disease</label>
                                <div class="d-flex">
                                    <input type="radio" id="familyYes" name="familyHistory" class="btn-check" value="yes" required>
                                    <label class="btn btn-outline-secondary" for="familyYes">Yes</label>
                                    
                                    <input type="radio" id="familyNo" name="familyHistory" class="btn-check" value="no" required>
                                    <label class="btn btn-outline-secondary" for="familyNo">No</label>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Smoking</label>
                                <div class="d-flex">
                                    <input type="radio" id="smokingYes" name="smoking" class="btn-check" value="yes" required>
                                    <label class="btn btn-outline-secondary" for="smokingYes">Yes</label>
                                    
                                    <input type="radio" id="smokingNo" name="smoking" class="btn-check" value="no" required>
                                    <label class="btn btn-outline-secondary" for="smokingNo">No</label>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-between r mb-3">
                                <div class="mb-3 w-100">
                                    <label for="height" class="form-label">Height</label>
                                    <input type="number" class="form-control" min="0" id="height" name="height" onchange="calculateBMI()" placeholder="Enter your height" required>
                                </div>
                                <div class="mb-3 w-100">
                                    <label for="weight" class="form-label">Weight</label>
                                    <input type="number" class="form-control" min="0" id="weight" name="weight" onchange="calculateBMI()" placeholder="Enter your weight" required>
                                </div>
                            </div>
                            
                            <div class="d-flex justify-content-between align-items-between text-center mb-3">
                                <div class="px-5 w-100">
                                    <h3 class="mb-0">BMI</h3>
                                    <p class="caption" id="bmiResult">0</p>
                                    <input type="hidden" name="bmi" id="bmiHidden">
                                </div>
                                <div class="px-5 w-100">
                                    <h3 class="mb-0">Obesity</h3>
                                    <p class="caption" id="bmiStatus">-</p>
                                    <input type="hidden" name="bmiStatus" id="bmiStatusHidden">
                                </div>
                            </div>
                            
                            <div class="mb-3">
                                <label class="form-label">Eating Patterns</label>
                                <div class="d-flex">
                                    <input type="radio" id="healthy" name="eatingPatterns" class="btn-check" value="healthy" required>
                                    <label class="btn btn-outline-secondary" for="healthy">Healthy</label>
                                    
                                    <input type="radio" id="average" name="eatingPatterns" class="btn-check" value="average" required>
                                    <label class="btn btn-outline-secondary" for="average">Average</label>
                                    
                                    <input type="radio" id="unhealthy" name="eatingPatterns" class="btn-check" value="unhealthy" required>
                                    <label class="btn btn-outline-secondary" for="unhealthy">Unhealthy</label>
                                </div>
                            </div>
                            <center>
                                <button type="submit" class="btn btn-primary">Check</button>
                            </center>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function calculateBMI() {
            // Ambil nilai tinggi dan berat dari input
            var height = document.getElementById('height').value;
            var weight = document.getElementById('weight').value;

            // Konversi tinggi dari cm ke meter
            var heightInMeters = height / 100;

            // Hitung BMI
            var bmi = weight / (heightInMeters * heightInMeters);

            // Tampilkan hasil BMI di div
            var bmiStatusDiv = document.getElementById('bmiStatus');
            var status = checkObesity(bmi);

            var bmiResultDiv = document.getElementById('bmiResult');

            bmiResultDiv.innerHTML = bmi.toFixed(0);
            bmiStatusDiv.innerHTML = weight == 0 || height == 0 ? '-':status
            document.getElementById('bmiHidden').value = bmi.toFixed(0);
            document.getElementById('bmiStatusHidden').value = weight == 0 || height == 0 ? '-':status
        }

        function checkObesity(bmi) {
            if (bmi < 18.5) {
                return "Underweight";
            } else if (bmi >= 18.5 && bmi < 24.9) {
                return "Normal weight";
            } else if (bmi >= 25 && bmi < 29.9) {
                return "Overweight";
            } else {
                return "Obese";
            }
        }
    </script>
</body>
</html>
